#root {
  --bold: 600;
  --normal: 400;
  --primary-color: #ffffff;
  --text-color: #6b6867;
  --light-text-color: #999493;
  --dark-text-color: #474443;
  --success: #3c7d45;
  --danger: #de2f2f;
  --bg: #ddd7d5;
  --box-shadow: 20px 20px 60px #bcb7b5, -20px -20px 60px #fef7f5;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}
.App {
  font-family: sans-serif;
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background: var(--bg);
  color: var(--dark-text-color);
}
